version: '3.9'

services:
  mongodb:
    image: mongo:7.0
    container_name: lab-orders-mongodb
    restart: unless-stopped
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
      MONGO_INITDB_DATABASE: ${MONGO_INITDB_DATABASE}
    volumes:
      - mongo-data:/data/db
    networks:
      - lab-network

volumes:
  mongo-data:
    driver: local

networks:
  lab-network:
    driver: bridge
